<div flex flex-gt-md="33" layout="column">
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{cardProject.name}}</span>
        <span class="md-subhead" ng-show="cardProject.startDate && !cardProject.finishDate">{{cardProject.startDate | date:'dd/MM/yy'}} - настоящее время</span>
        <span class="md-subhead" ng-show="cardProject.startDate && cardProject.finishDate">{{cardProject.startDate | date:'dd/MM/yy'}} - {{cardProject.finishDate | date:'dd/MM/yy'}}</span>
        <span class="md-subhead">Добавил <a href="/{{cardProject.createrId}}">{{cardProject.creater.email}}</a></span>
        <span class="md-subhead">Категория {{cardProject.category.name}}</a></span>
      </md-card-header-text>
    </md-card-header>

    <!-- <img ng-src="{{cardProject.imagePath}}" class="md-card-image" alt="Project Image"> -->

    <md-card-content layout-padding>
      {{cardProject.description | limitTo:300}}{{cardProject.description.length > 300 ? '...' : ''}}
    </md-card-content>

    <md-card-footer ng-show="cardProject.tags || cardProject.technologies">
      <div ng-show="cardProject.tags">
        <b>Теги:</b>
        <span ng-repeat="tag in cardProject.tags">
          <span class="tag">{{tag.name}}</span>
        </span>
      </div>

      <div ng-show="cardProject.projectTechnologies">
        <b>Технологии:</b>
        <span ng-repeat="tech in cardProject.projectTechnologies">
          <span class="tag">{{tech.technology.name}} ({{tech.power}}/10)</span>
        </span>
      </div>

      <div layout="row">
        <span flex></span>
        <md-button layout-align="start end" class="md-primary md-raised right" ng-href="/{{cardProject.createrId}}/projects/{{cardProject.id}}">
          Подробнее
        </md-button>
      </div>
    </md-card-footer>
  </md-card>
</div>
