<div class="text-center">
  <h2 class="md-title">Настройки пользователя</h2>
</div>
<md-list flex>
  <!-- <md-list-item class="md-1-line" ng-click="go('mainSettings')">
    <div class="md-list-item-text">
      Основные данные
    </div>
  </md-list-item> -->
  <md-list-item class="md-1-line" ng-click="go('emailSettings')">
    <div class="md-list-item-text">
      Список электронных почт
    </div>
  </md-list-item>
  <md-list-item class="md-1-line" ng-click="go('organizationSettings')">
    <div class="md-list-item-text">
      Организации
    </div>
  </md-list-item>
</md-list>
