<h2 class="md-title">Основная информация</h2>
<md-input-container class="md-block" flex-gt-sm>
  <label>Название</label>
  <input ng-model="organization.name" name="name" required type="text">

  <div ng-messages="Organization.name.$error" role="alert" md-auto-hide="false">
    <div ng-message="serverMessage">{{Organization.name.$error.serverMessage}}</div>
    <span ng-show="!Organization.$submitted && Organization.name.$touched">
      <div ng-messages-include="errorMessages.html" ></div>
    </span>
  </div>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Сайт организации</label>
  <input ng-model="organization.url" name="url" ng-change="writesDomen()" required type="text">

  <div ng-messages="Organization.url.$error" role="alert" md-auto-hide="false">
    <div ng-message="serverMessage">{{Organization.url.$error.serverMessage}}</div>
    <span ng-show="!Organization.$submitted && Organization.url.$touched">
      <div ng-messages-include="errorMessages.html" ></div>
    </span>
  </div>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Домен организации</label>
  <input ng-model="organization.domen" name="domen" required type="text">

  <div ng-messages="Organization.domen.$error" role="alert" md-auto-hide="false">
    <div ng-message="serverMessage">{{Organization.domen.$error.serverMessage}}</div>
    <span ng-show="!Organization.$submitted && Organization.domen.$touched">
      <div ng-messages-include="errorMessages.html" ></div>
    </span>
  </div>
  <p>Чтобы присоединиться к организации, участники обязаны иметь e-mail в домене компании.</p>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Краткая информация</label>
  <textarea ng-model="organization.description" name="description" rows="5" required></textarea>

  <div ng-messages="Organization.description.$error" role="alert" md-auto-hide="false">
    <div ng-message="serverMessage">{{Organization.description.$error.serverMessage}}</div>
    <span ng-show="!Organization.$submitted && Organization.description.$touched">
      <div ng-messages-include="errorMessages.html" ></div>
    </span>
  </div>
</md-input-container>

<div class="text-center">
  <md-button type="submit" ng-disabled="Organization.$invalid && !Organization.$submitted" class="btn">Создать</md-button>
</div>
