<h2>Ваши проекты</h2>
<p>Здесь отображаются пользователи, утверждающие, что учавствовали в ваших проектах.</p>
<md-list flex>
  <md-subheader class="md-no-sticky">Запросы по проекту </md-subheader>
  <md-list-item class="md-3-line" ng-repeat="projectExecuter in projectExecuters">
    <div class="md-list-item-text md-offset" layout="column" style="margin-right: 60px">
      <h3><a ng-href="/{{projectExecuter.executer.id}}">{{ projectExecuter.executer.email }}</a></h3>
      <h4>Роль: {{ projectExecuter.role }}</h4>
      <p>
        Учавствовал в проекте "<a ng-href="/{{authUser.id}}/projects/{{projectExecuter.project.id}}">{{projectExecuter.project.name}}</a>"
        с {{ projectExecuter.startDate | date }} по
        <span ng-hide="projectExecuter.finishDate">настоящее время</span>
        <span ng-hide="!projectExecuter.finishDate" ng-bind="projectExecuter.finishDate | date"></span>
      </p>
      <div layout="row">
        <md-button ng-click="deleteExecuter(projectExecuter)" aria-label="Отклонить">
          <md-icon>clear</md-icon> Отклонить
        </md-button>
        <md-button ng-click="acceptExecuter(projectExecuter)" aria-label="Подтвердить">
          <md-icon>done</md-icon> Подтвердить
        </md-button>
      </div>
    </div>
    <md-divider ng-show="!$last"></md-divider>
  </md-list-item>
</md-list>
<p ng-hide="projectExecuters.length > 0" class="text gray">
  По вашим проектам не было сообщений об участии.
</p>
<h2>Вас упомянули</h2>
<p>
  Здесь отображается список проектов, в которых вас указали участником (без вашего подтверждения).
</p>
<md-list flex>
  <md-list-item class="md-3-line" ng-repeat="projectExecuter in executerRequestedProjects">
    <div class="md-list-item-text md-offset" layout="column" style="margin-right: 60px">
      <h3><a ng-href="/{{projectExecuter.project.creater.id}}">{{ projectExecuter.project.creater.email }}</a></h3>
      <p>
        Вы учавствовали в проекте "<a ng-href="/{{projectExecuter.project.createrId}}/projects/{{projectExecuter.project.id}}">{{projectExecuter.project.name}}</a>"
      </p>
      <div layout="row">
        <md-button ng-click="deleteExecuter(projectExecuter)" aria-label="Отклонить">
          <md-icon>clear</md-icon> Отклонить
        </md-button>
        <md-button ng-href="/project-executer/{{projectExecuter.id}}/update" ng-click="hide()" aria-label="Подтвердить">
          <md-icon>done</md-icon> Подтвердить
        </md-button>
      </div>
    </div>
    <md-divider ng-show="!$last"></md-divider>
  </md-list-item>
</md-list>
<p ng-hide="executerRequestedProjects.length > 0" class="text gray">
  Список пуст.
</p>
