@import 'vars';
@import 'mixins';
@import 'def-classes';

table {
  width: 100%;
}

a {
  color: #0074c4;
  &:not(:hover) {
    text-decoration: none;
  }
}

#top-menu-list {
  a {
    line-height: 64px;
    display: block;
    padding: 0 20px;

    &:not(.active):hover {
      background-color: #014f93;
    }

    @include animate-hover(0.6s)
  }

  md-menu-bar {
    position: absolute;
    right: 7px;
    top: 7px;
  }
}

md-menu-content {
  display: inline;

  md-menu-item {
    background-color: $primary-color;
    text-align: center;
    height: auto !important;

    a {
      color: white;
      margin: 0;
      padding: 15px 35px;
    }
  }
}

// для страницы портфолио пользователей
#portfolio {

  .activity {

    md-list-item {
      color: gray;
      font-size: 12px;
      min-height: 25px;
    }
  }

  .projects {
    height: 310px;

    .project {
      display: inline-block;
      width: 400px;
      height: 280px;
      overflow: hidden;
      white-space: normal;
    }
  }
}

.search-board {

  button {
    md-icon {
      @include animate-hover(0.3s);
    }

    &:not(.active) {

      &:hover {
        md-icon {
          color: $primary-color;
          fill: $primary-color;
        }
      }
    }
    &.active {
      background: white;
      box-shadow: none;

      md-icon {
        color: $primary-color;
        fill: $primary-color;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
  #top-menu-list {
    a {
      line-height: 48px;
    }
  }
}
