<div layout="column" id="portfolio" flex>
  <!-- <h2>Активность</h2>
  <div layout="column" class="activity" layout-gt-md="row" flex>
    <md-list flex>
      <md-list-item>
       <div class="md-list-item-text" layout="row">
         2016, 19 мая в 07:15 | Добавлен проект в портфолио. <a href="#">Ссылка на проект</a>
       </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
       <div class="md-list-item-text" layout="row">
         2016, 19 мая в 09:42 | Написан отзыв заказчику. <a href="#">Прочитать отзыв</a>
       </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
       <div class="md-list-item-text" layout="row">
         2016, 20 мая в 15:39 | Приоединён к организации
       </div>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div> -->

  <section layout="row" layout-sm="column" layout-wrap ng-show="authUser">
    <!-- Для зареганых -->
    <section layout="row" layout-sm="column" layout-wrap ng-show="userId != authUser.id">
      <!-- Не для самого пользователя -->
      <a ui-sref="dialog({second: userId})">Открыть диалог</a>
    </section>
  </section>

  <section layout="column" layout-gt-md="row" flex-gt-md="50">
    <section flex-gt-md="50">
      <h2 class="md-title">Участник организаций</h2>
      <md-list>
        <md-list-item  class="md-3-line" ng-repeat="userOrganization in userOrganizations">
          <div class="md-list-item-text" layout="column">
            <h3>{{ userOrganization.organization.name }} ({{ userOrganization.organization.url }})</h3>
            <p>
              Участник с {{userOrganization.startDate | date}} по
              <span ng-hide="userOrganization.finishDate">настоящее время</span>
              <span ng-hide="!userOrganization.finishDate" ng-bind="userOrganization.finishDate | date"></span>
            </p>
            <p>{{ userOrganization.organization.description }}</p>
          </div>
        </md-list-item>
        <md-list-item  class="md-3-line" ng-hide="userOrganizations.length > 0">
          <div class="md-list-item-text" layout="column">
            <h3>Пользователь не состоит ни в одной организации</h3>
          </div>
        </md-list-item>
      </md-list>
    </section>


    <section ng-show="organizations.length > 0" flex-gt-md="50">
      <h2 class="md-title">Администрирует организации</h2>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="organization in organizations">
          <div class="md-list-item-text" layout="column">
            <h3>{{ organization.name }} ({{ organization.url }})</h3>
            <p>{{ organization.description }}</p>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </section>

  <h2 class="md-title">Проекты</h2>
  <md-virtual-repeat-container class="projects" md-orient-horizontal>
    <md-card md-virtual-repeat="project in projects" class="project" layout-padding>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">{{project.name}}</span>
          <span class="md-subhead" ng-show="project.startDate && !project.finishDate">{{project.startDate | date:'dd/MM/yy'}} - настоящее время</span>
          <span class="md-subhead" ng-show="project.startDate && project.finishDate">{{project.startDate | date:'dd/MM/yy'}} - {{project.finishDate | date:'dd/MM/yy'}}</span>
        </md-card-header-text>
      </md-card-header>

      <!-- <img ng-src="{{project.imagePath}}" class="md-card-image" alt="Project Image"> -->

      <md-card-content layout-padding>
        {{project.description | limitTo:150}}{{project.description.length > 150 ? '...' : ''}}
        <a ng-href="/{{userId}}/projects/{{project.id}}">Подробнее</a>
      </md-card-content>

      <md-card-footer ng-show="project.tags || project.projectTechnologies">
        <div ng-show="project.tags">
          <b>Теги:</b>
          <span ng-repeat="tag in project.tags">
            <span class="tag">{{tag.name}}</span>
          </span>
        </div>

        <div ng-show="project.projectTechnologies">
          <b>Технологии:</b>
          <span ng-repeat="tech in project.projectTechnologies">
            <span class="tag">{{tech.technology.name}} ({{tech.power}}/10)</span>
          </span>
        </div>
      </md-card-footer>
  </md-virtual-repeat-container>
<!--
  <div layout="column" layout-gt-md="row" flex>
    <div flex flex-gt-md="50">
      <h2>Статистика</h2>
    </div>

    <div flex flex-gt-md="50">
      <h2>Отзывы</h2>
    </div>

  </div> -->

</div>
