<div layout="column" id="portfolio" flex>
  <h1 class="md-title">{{user.family}} {{user.name}} {{user.middlename}} ({{user.email}})</h1>
  <section layout="row" layout-sm="column" layout-wrap ng-show="authUser">
    <!-- Для зареганых -->
    <section layout="row" layout-sm="column" layout-wrap ng-show="user.id != authUser.id">
      <!-- Не для самого пользователя -->
      <a ui-sref="dialog({second: user.id})">Открыть диалог</a>
    </section>
  </section>

  <h2 class="md-title">Проекты</h2>
  <slick settings="slickConfig" class="projects" slides-to-show=3 slides-to-scroll=1 ng-if="projects.length > 0">
    <md-card class="project" layout-padding ng-repeat="project in projects">
      <md-card-header>
        <md-card-header-text>
          <span class="md-title"><a ng-href="/{{user.id}}/projects/{{project.id}}">{{project.name}}</a></span>
          <span class="md-subhead" ng-show="project.startDate && !project.finishDate">{{project.startDate | date:'dd/MM/yy'}} - настоящее время</span>
          <span class="md-subhead" ng-show="project.startDate && project.finishDate">{{project.startDate | date:'dd/MM/yy'}} - {{project.finishDate | date:'dd/MM/yy'}}</span>
        </md-card-header-text>
      </md-card-header>

      <!-- <img ng-src="{{project.imagePath}}" class="md-card-image" alt="Project Image"> -->

      <md-card-content layout-padding>
        {{project.description | limitTo:150}}{{project.description.length > 150 ? '...' : ''}}
        <a ng-href="/{{user.id}}/projects/{{project.id}}">Подробнее</a>
      </md-card-content>

      <md-card-footer ng-show="project.tags || project.projectTechnologies" hide show-gt-md>
        <div ng-show="project.tags.length > 0">
          <md-chips ng-model="project.tags" readonly="true">
            <md-chip-template>
              {{$chip.name}}
            </md-chip-template>
          </md-chips>
        </div>

        <div ng-show="project.projectTechnologies.length > 0" layout-padding="">
          <b>Технологии:</b>
          <span ng-repeat="tech in project.projectTechnologies">
            <span class="tag">{{tech.technology.name}} ({{tech.power}}/10)</span>
          </span>
        </div>
      </md-card-footer>
    </md-card>
  </slick>
  <div layout="row" layout-align="center center" ng-show="projects.length > 3">
    <md-button ng-click="slickConfig.method.slickPrev()"><md-icon>chevron_left</md-icon></md-button>
    <md-button ng-click="slickConfig.method.slickNext()"><md-icon>chevron_right</md-icon></md-button>
  </div>

  <div layout="column" layout-gt-md="row" flex>
    <div flex flex-gt-md="50">
      <div layout-padding="">
        <h2 class="md-title">Диаграмма работы</h2>
      </div>
      <div ng-include="'user/tmpl/_statistics.html'">
      </div>
    </div>
    <div flex-gt-md="50" layout-padding="">
        <h2 class="md-title">Участник организаций</h2>
        <section>
          <md-list>
            <md-list-item  class="md-3-line" ng-repeat="userOrganization in userOrganizations">
              <div class="md-list-item-text" layout="column">
                <h3>{{ userOrganization.organization.name }} ({{ userOrganization.organization.url }})</h3>
                <p>
                  Участник с {{userOrganization.startDate | date}} по
                  <span ng-hide="userOrganization.finishDate">настоящее время</span>
                  <span ng-hide="!userOrganization.finishDate" ng-bind="userOrganization.finishDate | date"></span>
                </p>
                <p>{{ userOrganization.organization.description }}</p>
              </div>
            </md-list-item>
            <md-list-item  class="md-3-line" ng-hide="userOrganizations.length > 0">
              <div class="md-list-item-text" layout="column">
                <p>Пользователь не состоит ни в одной организации</p>
              </div>
            </md-list-item>
          </md-list>
        </section>


        <h2 class="md-title" ng-show="organizations.length > 0">Администрирует организации</h2>
        <section ng-show="organizations.length > 0">
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="organization in organizations">
              <div class="md-list-item-text" layout="column">
                <h3>{{ organization.name }} ({{ organization.url }})</h3>
                <p>{{ organization.description }}</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
    </div>
  </div>

</div>
