<!DOCTYPE html>
<html lang="ru" ng-app="portfolus" ng-controller="MainCtrl">
<head>
  <meta charset="UTF-8">

  <title ng-bind="'Portfolus' + title">Portfolus</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-cloak layout-fill layout="column">
  <!-- Меню вверху  -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- Иконка бокового меню -->
      <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftMenu()" hide-gt-md ng-show="sideNav">
        <md-icon>menu</md-icon>
      </md-button>

      <!-- Список меню -->
      <div layout="row" layout-align="center center" id="top-menu-list" layout-fill ng-include="'nav/_nav.html'"></div>

    </div>
  </md-toolbar>

  <section layout="row" flex>
    <!-- Боковое меню -->
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" layout="column" md-is-locked-open="$mdMedia('gt-md')" ng-show="sideNav">
      <md-content layout="column" flex>
        <md-list>
            <md-list-item>

                <md-item-content md-ink-ripple>
                    <div class="inset">Item 1</div>
                </md-item-content>

            </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <!-- Контент -->
    <md-content ui-view flex layout-padding layout="row"></md-content>
  </section>
</body>
</html>
